@font-face {
  font-family: "Beardsons";
  src: url("juego/data/fuentes/Beardsons-normal.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CreditValley";
  src: url("juego/data/fuentes/Credit_valley_bold.otf");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Beardsons";
  font-family: "Credit_valley_bold";
  background-color: #0F2C36;
  color: #E5E5E5;
  padding-bottom: 100px;
  padding-top: 30px;
}

/* === NAVBAR === */
.navbar {
  background-color: #0C222B !important;
  font-family: 'CreditValley';
  font-size: 16pt;
}

.navbar-nav {
  margin: 0 auto;
  justify-content: center;
}

.navbar .nav-link {
  color: #a6d6e2 !important;
}

.navbar .nav-link:hover {
  color: #256777 !important;
}

.navbar-toggler {
  background-color: #225E6E;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(166, 214, 226, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

/* === CARDS === */
.card {
  background-color: #12333D;
  border: 2px solid #1E4854;
  color: #F0EDE5;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #00000066;
  font-family: 'CreditValley';
}

.card-title {
  color: #a6d6e2;
  font-family: 'Beardsons';
}

.card-text {
  line-height: 1.5;
}

/* === BOTONES === */
.btn-primary {
  background-color: #225E6E;
  border-color: #1E4F5C;
  letter-spacing: 1px;
}

.btn-primary:hover {
  background-color: #2C788C;
  border-color: #246577;
}

/* === MODAL === */
.modal-content {
  background-color: #11272F;
  border: 2px solid #1F3D46;
  color: #ffffff;
}

.modal-header,
.modal-footer {
  border-color: #1F3D46;
}

.btn-secondary {
  background-color: #344C53;
  border-color: #2C3F44;
}

/* === ACCORDION === */

/* Fondo */
.accordion {
  background-color: #12333D;
  border: 2px solid #1E4854;
  border-radius: 8px;
  overflow: hidden;
}

.accordion-button {
  background-color: #1A404A;
  color: #a6d6e2;
  font-family: 'Beardsons';
  border-bottom: 2px solid #1E4854;
}

.accordion-button:not(.collapsed) {
  background-color: #15353E;
  color: #a6d6e2;
  box-shadow: none;
  border-bottom: 2px solid #246575;
}

.accordion-button:hover {
  background-color: #1D4A56;
  color: rgba(97, 173, 192, 0.795);
}

/* Flechas */
.accordion-button::after {
  filter: brightness(0) invert(1);
}

.accordion-body {
  background-color: #0F2C36;
  color: #ffffff;
  padding: 1.2rem;
}

/* Quita las líneas blancas entre ítems */
.accordion-flush .accordion-item {
  border: none !important;
}

/* Quita líneas internas en el header */
.accordion-button {
  border: none !important;
  box-shadow: none !important;
}